git+https://github.com/X-Gorn/pyrogram.git@dev
TgCrypto
aiohttp
yt-dlp
beautifulsoup4
hachoir
numpy
Pillow
motor
dnspython
python-dotenv

aiohttp
hachoir
Pillow
pyrogram
requests
tgcrypto
python-dotenv
loggers
yt-dlp
wget
youtube_dl
Flask==2.3.2
gunicorn==22.0.0
sent